APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=portfolio
DB_USERNAME=portfolio
DB_PASSWORD=portfolio

SANCTUM_STATEFUL_DOMAINS=localhost:3000
SESSION_DRIVER=cookie
SESSION_DOMAIN=localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000

FILESYSTEM_DISK=local

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Baye Mor Gaye"

OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llava

PROPRIETAIRE_NOM=Baye Mor Gaye
PROPRIETAIRE_EMAIL=bayemor.gaye@ucad.edu.sn
PROPRIETAIRE_PASSWORD=
PROPRIETAIRE_TITRE=AI & Software Engineer
PROPRIETAIRE_BIO=
PROPRIETAIRE_LOCALISATION=
PROPRIETAIRE_SITE_WEB=
PROPRIETAIRE_LINKEDIN=https://linkedin.com/in/gayensis09
PROPRIETAIRE_GITHUB=https://github.com/GAYENSIS09/
PROPRIETAIRE_PHOTO=

NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_OWNER_NOM=Baye Mor Gaye
NEXT_PUBLIC_OWNER_TITRE=AI & Software Engineer
